@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282C34;
    color: white;
    font-size: 15px;
}
